
.form-box {
display: flex;
align-items: flex-end;
align-self: baseline;

}

.title-input {
  margin: 3%;
  width: 35%;
  border: 2px solid #38453c;
  border-radius: .7em;
  font-size: 15px;
  padding: 1%;
  color: #38453c;
  background-color: #fbf1e6;
}

.send-spell {
  border-radius: .8em;
  width: fit-content;
  background-color: #fbf1e6;
  font-family: 'Coming Soon', cursive;

}

.spell-composition {
  width: 15rem;
  border: 2px solid #38453c;
  height: 6rem;
  border-radius: .9em;
  background-color: #fbf1e6;
}
