.kit-card {
  border-radius: 2em;
  border: 3px solid #38453c;
  padding: 10px;
  width: 12rem;
  box-shadow: 8px 11px 20px 5px #86898a;
  margin: 3%;
}

.cat-pic {
  width: 100%;
  border-radius: 50%;
  color: #38453c;
}

.ronspiration {
  color: #2d3730;
  font-weight: bold;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
}
