.spell-card {
  border-radius: 2em;
  border: 3px solid #38453c;
  padding: 10px;
  width: 12rem;
  box-shadow: 8px 11px 20px 5px #86898a;
  margin: 3%;
  background-color: #f5ecc6;
}

.title,
.invocation {
  color: #2d3730;
  font-family: 'Coming Soon', cursive;
}

.spell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #38453c;
  width: 100%;
  height: auto;
  margin-bottom:1vw;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 1vw;
  font-weight: bold;
}

.love-button {
  display: flex;
  align-items: flex-end;
  margin-top: 1vw;
  border-radius: 1.7em;
  padding: 2%;
  width: fit-content;
  background-color: #fbf1e6;
  font-family: 'Coming Soon', cursive;
}
