* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
  align-content: center;
}


.app-title {
  color: #38453c;
  font-family: 'Coming Soon', cursive;
  font-size: 7vw;
}

.should-be-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10%;
}

.about {
  margin-right: 50%;
  color: #fbf1e6;
}

.favs {
  margin-left: 40%;
  color: #fbf1e6;
}

.invitation {
  font-family: 'Coming Soon', cursive;
  font-size: 3em;
  color: #f5ecc6;
}

/*~~~~~~ RESPONSIVE ~~~~~~ */

@media screen and (max-width: 320px) {


  .app-title {
    font-size: 11vw;
  }

  .invitation {
    font-family: 'Coming Soon', cursive;
    font-size: 8vw;
  }

}
