.kit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: .9em;
  border: 3px solid #38453c;
  padding: 10px;
  width: 15rem;
  box-shadow: 8px 11px 20px 5px #86898a;
  margin: 3%;
}

.cat-pic {
  width: 13rem;
  border-radius: 60rem;
  color: #38453c;
  padding: 10px;
}


.ronspiration {
  color: #2d3730;
  font-weight: bold;
  font-family: 'Coming Soon', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;

}
